/*font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap');

/*RESET*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
main{
    width: 100%;
}
/*NAVEGACION*/
.contenedor1{
    width: 100%;
    height: 100vh;
    background-image: url(./IMAGEN/banner_1.png);
    background-position: center;
}
.header{
    background-color: black;
    
    background:linear-gradient(180deg, rgba(0,0,0),rgba(0,0,0));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
   
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.link{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 70px 20px;
    transition: 0.4s;
}
.link:hover{
    color: aquamarine;
}
.mostrar-menu, 
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
    display: none;
}
.mostrar-menu{
    color: brown;
    padding: 0,20px;
}
.mostrar-menu{
    order: 1;
}
#check1{
    display: none;
}
.menu :hover,
.mostrar-menu :hover,
.esconder-menu :hover{
    color: aquamarine;

}
/*BANNER*/
.banner{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: left;
    align-items: center;
}
.texto{
    color: chocolate;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    
}
.texto h1{
    margin-top: 15px;
    font-size: 75px;
}
.texto p{
    font-size: 34px;
    padding: 20px 0 35px 0;
}
.boton1{
    background-color: #fff;
    width: 50%;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 40px;
    transition: 0.5s;
    
}
.boton1:hover{
    background-color: burlywood;
}
.oferta{
display: inline-block;
font-size: 16px;
padding: 5px 13px;
color: #FFFFFF;
border-radius: 25px;
text-transform: uppercase;
background-color: burlywood;
margin-bottom: 20px;

}

/*ABOUT*/
.about{
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
}
.about-img{
width: 50%;
text-align: center;
}
.about-img img{
    height: 450px;
}
.texto1{
    padding-top: 0px;
    width: 48%;
    margin-bottom: 100px;
    text-align: center;
}
.texto1 h2{
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 10px;
    color:chocolate;
}

.texto1 p{
    font-size: 20px;
   margin-bottom: 40px;
}
.boton1{
    padding: 20px 20px;
    border: solid 2px burlywood;
    
}

/*OFERTAS*/
.ofert{
    padding: 100px 50px;
    display: flex;
    background-color: brown;
}
.ofert img{
    width: 380px;
    padding-left: 20px;
}

/*PRODUCTOS*/
.product{
    text-align: center;
    padding: 0 0 100px 0;
    background-color: bisque;
    
}
.product h2{
    font-size: 50px;
    margin-bottom: 20px;
    color:crimson;
    padding-top: 30px;
}
.product p{
    font-size: 30px;
}
.product-content{
    margin: 50px 0 70px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.product1{
    width: 300px;
    padding: 20px 50px;
}
.product1 img{
    width: 200px;
}
.product1 h3{
    font-size: 25px;
    margin: 15px 0;
    
}
.product1 span{
display: block;
font-size: 20px;
font-weight: 900;
color: red;

}
/*NOTICIAS*/
.news{
    padding: 100px 0;
    background-color: brown;

}
.news-content{
    display: flex;
    align-items: center;
}
.news1{
    padding-left: 100px;
    width: 50%;
}
.news1 h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}
.news1 p{
    color: #fff;
}
.news2{
    width: 50%;
    
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
input{
    width: 40%;
    height: 45px;
    border-radius: 20px 0 0 20px;
    font-size: 20px;
    padding-left: 15px;
    border: none;
    outline: none;
}
.boton2{
    width: 25%;
    height: 45px;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
    border: none;
    outline: none;
}
/*PERSONAL*/
.personal{
    padding: 40px 0;
    background-color: bisque;
    
    
}
.personal-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.texto-personal{
    width: 100%;
    text-align: center;
    
    align-items: center;
}
.texto-personal h2{
    font-size: 36px;
    padding-top: 30px;
}
.texto-personal p{
    margin: 40px 0 0;
    font-size: 20px;
    text-align: center;
}
.imagen{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 50px 140px;
}
.fotos img{
    border-radius: 40%;
}
.fotos h3{
    margin: 10px 0;
    text-align: center;
}
.fotos p{
    margin: 10px 0;
    text-align: center;
}

/*MAPA*/
.text-mapa{
    text-align: center;
    font-size: 30px;
    background-color:lightcoral;
}
/*FOOTER*/
footer{
    width: 100%;
    background-color: black;
}
.group1{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 50px;
   padding: 45px 0; 
}
.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box figure img{
    width: 100px;
}
.box h2{
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.box p{
    color: #fff;
    font-size: 16px;
}
.social a{
    display: inline-block;
    text-decoration: none;
    padding-left: 30px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.social a:hover{
    border-radius: 8px solid aquamarine;
}
.group2{
    padding: 15px 10px;
    text-align: center;
    
}
.group2 h3{
    text-align: center;
    color: aquamarine;
}





/*RESPONSIVE*/
 @media(max-width: 991px){
 /*HEADER*/
 .mostrar-menu,
 .esconder-menu{
     display: block;

 }
 
 .menu{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color: goldenrod;
     
     right: -100%;
     top: 0;
     text-align: center;
     padding: 100px 0px;
     z-index: 100;
     transition: 0.7s;


 }
 .menu a{
     display: block;
     padding: 20px;
 }
 .esconder-menu{
     position: absolute;
     top: 40px;
     right: 40px;

 }
 .mostrar-menu{
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;

 }
 #check1:checked ~ .menu{
     right: 0;
 }
 .contenedor1{
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
 }
 .texto h1{
    font-size: 40px;
    padding-left: 0px;
 }
 .texto p{
    font-size: 20px;
    padding: 20px 20px 75px 0;
 }
 .boton1{
    padding: 5%;
 }
 /*ABOUT*/
 .about{
    padding: 30px 30px 0 30px;
    flex-direction: column;
 }
 .about-img{
    width: 100%;
    order: 2;

 }
 .about-img img{
    height: 300px;
 }
 .texto1{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
 }
 .texto1 h2{
    font-size: 45px;
    
 }
 /*OFERTAS*/
 .ofert{
    padding: 30px 50px 20px 30px;
    flex-direction: column;

 }
 

 .ofert img{
    width: 100%;
 }

 /*PRODUCTOS*/
 .product{
    padding: 30px;
 }
 .product-content{
    margin: 0;
    grid-template-columns: repeat(1,1fr);
 }
 .product1{
    width: 100%;
    padding: 30px 0;
 }
 /*NOTICIAS*/
 .news{
    padding: 30px;
 }
 .news-content{
    flex-direction: column;
    text-align: center;
 }
 .news1, .news2{
    padding: 0;
    width: 100%;
 }

 /*PERSONAL*/
 .personal{
    padding: 30px 30px 0 30px;
    flex-direction: column;
    text-align: center;
 }
 .personal-contain{
    flex-direction: column;
    text-align: center;
 }
 .imagen{
    width: 100%;
    
    flex-direction: column;
 }
 .fotos{
    padding-bottom: 50px;
 }

 /*FOOTER*/
 .group1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
 }
 .social a{
    margin-left: auto;
    align-items: center;
    justify-content: center;
 }

 .boton1{
    padding: 10px 10px;
 }
 

}
